@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .pokemonCard{
    @apply bg-green-500 border-2 border-sky-400 rounded-md w-48 h-auto flex justify-center mb-3 mx-3 font-bold text-xl
  }
  .navItem{
    @apply hover:-translate-y-1 hover:scale-110 text-xl duration-300 rounded-md border-2 border-stone-500 px-4 py-1 mt-2
  }
  .button{
    @apply transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 px-8 py-2 rounded-md border-2 border-stone-500
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
